main #contacts {
    gap: .5rem;
    max-width: 22.75rem;
    & header {
        padding-left: 1.5rem;
gap: 1.5rem;
& div {
    position: relative;
    width: 17.25rem;
    border-radius: 1.375rem;
    gap: 1rem;
cursor: pointer;

& input, input:hover, input:focus-within {
    all: unset;
    
}

    & input::placeholder {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: 1rem;
        color: #707991;
    }

}

    }

& div.flex-direction-column {

& figure {
padding: 1rem;
gap: 1rem;

& figcaption {
    gap: .25rem;

    & h2 {
        position: relative;
gap: .25rem;

    }

& span {
    color: #707991;
    gap: .25rem;

& strong {
 font-weight: 400;   
 color: #000;
}

}

}

& small {
    margin-left: auto;
    margin-right: 1rem;
    color: #707991;
}

}

}

}