.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justif-content-center {
    justify-content: center;
}

.justif-content-start {
    justify-content: flex-start;
}

.justif-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.flex-1 {
 flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.aspect-radio {
    aspect-ratio: 1;
}
