.avatar-top {
    width: 2.5rem;
}

.avatar-left {
    width: 3rem;
}

.quantity-messages-icon {
    width: 1.125rem;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-size-1 {
    font-size: 1rem;
}

.font-size-875 {
    font-size: .875rem;
}

.font-size-75 {
    font-size: .75rem;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-regular {
    font-weight: 400;
}

.line-height-125 {
line-height: 1.25rem;
}

.line-height-1 {
    line-height: 1rem;
}

.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: #78e378;
}

.bg-grey {
    background-color: #f5f5f5;
}

.padding-8-16 {
    padding: .5rem 1rem;
}

.color-text {
    color: #707991;
}